<%= form_for [@user, @photo] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%- if @photo.errors[:name].present? %>
    <span><%= @photo.errors[:name].to_sentence %></span>
  <%- end %>
  <%= f.label :file %>
  <%= f.text_field :file %>
  <%- if @photo.errors[:file].present? %>
    <span><%= @photo.errors[:file].to_sentence %></span>
  <%- end %>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :full_name %>
  <%- if @photo.errors[:user_id].present? %>
    <span><%= @photo.errors[:user_id].to_sentence %></span>
  <%- end %>
  <%= f.submit %>
<% end %>